* {
  margin: 0;
}
.body {
  background-color: rgba(128, 128, 128, 0.675);
}
.flex-container {
  font-size: 8em;
  justify-items: center;
  flex-direction: column;

  display: grid;
}

#red {
  background-color: red;
  width: 180px;
  border: 8px solid #f2f3f0;
  outline: 10px solid rgb(143, 3, 3);
  outline-offset: -18px;
}
#yellow {
  background-color: yellow;
  width: 180px;
  border: 8px solid #f2f3f0;
  outline: 10px solid rgb(190, 165, 2);
  outline-offset: -18px;
}
#green {
  background-color: green;
  width: 180px;
  border: 8px solid #f2f3f0;
  outline: 10px solid rgb(7, 88, 7);
  outline-offset: -18px;
}
